.item {
  z-index: 0;
  display: flex;
  flex-grow: 1;
  gap: 0.5em;
  padding-block: 0.5em;
  padding-inline-start: 0.5em;
}

.item h2 {
  margin: 0;
  font-size: 1.25em;
  line-height: 1;
}

.item h2 small {
  display: block;
  font-weight: lighter;
}

.item img {
  margin-block: auto;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: lightgray;
}
